.App {
  padding: 5rem;
  padding-left: 6rem;
  padding-right: 6rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: calc(5px + 2vmin);
  color: white;
  background-image: url("images/back.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.WhatIsIt {
  font-size: 20px;
}
.lineUnder {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  padding-top: 11px;
}
.PopUp {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 3%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
}

.PopUp-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 1220px;
  background-image: url("images/backpop.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #5b5f5b;
  border-radius: 11px;
}
.PopUp-innerSmall {
  position: relative;
  padding: 40px;
  margin-top: 1em;
  width: 80%;
  max-width: 700px;
  background-image: url("images/setting2.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #5b5f5b;
  border-radius: 11px;
}
.PopUp-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  color: rgb(245, 245, 104);
  font-size: 12px;
  text-transform: uppercase;
  font-family: "OakesGroteskBold";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 2px;
  margin-left: 1.5em;
}
.close-btn:hover {
  background-color: rgb(51, 44, 44);
  cursor: pointer;
  color: black;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin-top: 1em;
  width: auto;
  height: 38px;
  padding: 5px 20px 3px;
  border: 1px solid #90ee90;
  background-color: rgb(0, 0, 0);
  color: #90ee90;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "OakesGroteskBold";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 2px;
  margin-left: 1.5em;
}
.Title {
  font-family: "Holtwood One SC", serif;
  color: rgb(245, 245, 104);
  text-align: center;
  padding-bottom: 1em;
}
.titles {
  font: small-caps bold 30px/1 serif;
}

.buttonYellow {
  border: 1px solid rgb(154, 170, 240);
  color: rgb(154, 170, 240);
  margin-top: 1em;
  width: auto;
  height: 38px;
  padding: 5px 20px 3px;
  background-color: rgb(0, 0, 0);
  font-size: 12px;
  text-transform: uppercase;
  font-family: "OakesGroteskBold";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 2px;
  margin-left: 1.5em;
}
.buttonYellow:hover {
  background-color: rgb(187, 195, 231);
  cursor: pointer;
  color: white;
  gap: 5px;
}

.attributs .property {
  width: 40%;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  text-transform: capitalize;
}

.attributs .value {
  margin-left: 6%;
  text-align: center;
  width: 30%;
  display: inline-block;
  box-sizing: border-box;
}

.button:hover {
  background-color: #72c072;
  cursor: pointer;
  color: black;
}

.guess {
  color: #90ee90;
}
.Menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.Menu {
  display: flex;
  gap: 2rem;
}

.Personnage {
  margin: 1.5rem;
  height: 8rem;
  width: 6rem;
}

.PersonnageEByAI {
  margin: 1.5rem;
  height: 8rem;
  width: 6rem;
  border: dashed red;
  border-width: thick;
}