.App {
  background-color: #282c34;
  padding: 5rem;
  padding-left: 6rem;
  padding-right: 6rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.Menu {
  display: flex;
  gap: 2rem;
}

.Personnage {
  margin: 1.5rem;
  height: 8rem;
  width: 6rem;
}

.ChosenPersonnage {
  border: solid;
  border-color: red;
}
